.newsletter {
    width: 65%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 150px;
    background: rgb(234, 232, 232);
    padding: 0px 140px;
    gap: 20px;
    margin-left: 100px;

}

.newsletter h1 {
    color: #454545;
    font-size: 45px;
    font-weight: 500;
}

.newsletter p {
    color: #454545;
    font-size: 30px;
    font-weight: 500;
}



.newsletter div button {
    height: 50px;
    width: 200px;
    border-radius: 25px;
    padding: 10px 10px;
    background-color: rgb(26, 23, 23);
    color: white;
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
}

.newsletter button:hover {
    background-color: aqua;
}