.loginsignup {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80vh;
    margin-top: 40px;
    align-items: center;
    gap: 50px;

}

.loginsignup-container {
    width: 500px;
    height: 600px;
    padding: 40px 60px;
    background-color: aliceblue;
}

.loginsignup-fields {
    display: flex;
    flex-direction: column;
    gap: 22px;
    margin-top: 18px;
    font-size: 18px;
}

.loginsignup-fields input {
    height: 30px;
}

.loginsignup-container button {
    margin-top: 20px;
    background: rgb(160, 136, 184);
    cursor: pointer;
    color: black;
    font-size: 15px;
    font-weight: 500;
    border: 1px solid black;
    border-radius: 20px;
    width: 100px;
    height: 40px;
}

.loginsignup-container button:hover {
    background-color: beige;

}

.loginsignup-login {
    margin-top: 20px;
}

.loginsignup-login span {
    color: red;
    font-size: 16px;
    font-weight: 560;
    cursor: pointer;
}

.loginsignup-login hr {
    width: 90px;
    margin-left: 210px;
    background-color: red;
    color: red;
    height: 2px;

}

.loginsignup-agree {
    margin-top: 10px;
}

.loginsignup-agree p {
    margin-top: 5px;
}