.navbar {
    display: flex;
    justify-content: space-around;
    padding: 16px;
    box-shadow: 0 1px 3px -2px black;
}

.nav-logo {
    display: flex;
    align-items: center;
}

.nav-logo p {
    color: black;
    font-size: 38px;
    font-weight: 600;
}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 16px;
    list-style: none;
    gap: 50px;
    color: #626262;
    font-size: 20px;
    font-weight: 500px;
}

.nav-menu li {
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    align-items: center;
    gap: 3px;
}

.nav-menu hr {
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: #FF4141;

}

.nav-login-cart {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 45px;
}

.nav-login-cart img {
    align-items: center;
    /* justify-content: center; */
    display: flex;
    gap: 45px;
}

.nav-login-cart button {
    width: 140px;
    height: 45px;
    outline: none;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 70px;
    color: blue;
    font-size: 20px;
    font-weight: 500px;
    background: white;
}

.nav-login-cart button:hover {
    background-color: aqua;
}

.nav-cart-count {
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
    margin-left: -55px;
    /* margin-right: 155px; */
    border-radius: 11px;
    font-size: 14px;
    background: red;
    color: white;
}