.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    color: #6ca5d7;
    margin-top: 100px;
    margin-bottom: 0;
    padding: 10px 25px;
    height: 100%;
    gap: 40px;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.footer-links {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;
    font-size: 20px;
    /* margin-right: -250px; */

}

.footer-links li {
    cursor: pointer;

}

.footer-social-icon {
    display: flex;
    gap: 20px;
}

.footer-icons-container {
    padding: 10px;
    padding-bottom: 6px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
}

.footer-copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    width: 100%;
    margin-top: 0px;
    color: #6ca5d7;
    font-size: 20px;
}

.footer-copyright hr {
    width: 80%;
    border: none;
    border-radius: 10px;
    height: 3px;
    background: #c7c7c7;
}